@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    --background-clr: #040818;
    --glow-clr-1: #5f0580;
    --glow-clr-2: #1b1389;
    --glow-clr-3: #3d0ea1;
    --glow-clr-4: #0e18cc;
}

body {
    margin: 0;
    background-color: var(--background-clr);
    min-height: 100vh;
    display: grid;
    place-content: center;
    color: rgb(228, 243, 255);
    font-family: 'Gabarito', cursive;
}

h1 {
    font-size: min(3.5rem, 7vw);
    margin-left: 20px;
    margin-bottom: 4px;
}

p {
    font-size: min(1.5rem, 4vw);
    margin-left: 20px;
    margin-top: 4px;
}

.glow-card {
    min-height: 95vh;
    width: 92vw;
    padding: 1px;
    padding-left: 10px;
    margin: 10px;
    background-color: var(--background-clr);
    border-radius: 0.5rem;
    position: relative;
}


.glow-card::after{
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--glow-clr-1),
        var(--glow-clr-2),
        var(--glow-clr-3),
        var(--glow-clr-4),
        var(--glow-clr-3),
        var(--glow-clr-2),
        var(--glow-clr-1)
    );
    border-radius: inherit;
    animation: glow-rotation 10s linear infinite;
    filter: blur(3.5rem);
}

.lang-selector {
    position: absolute;
    right: max(10px, 4vw);
    top: max(15px, 1.5vh);
    min-height: max(20px, 1.5vh);
    min-width: max(70px, 6vh);
    font-size: max(0.8rem, 0.9vw);
    border-radius: .5rem;
    border: 2px solid #1b138952;
    background-color: var(--background-clr);
    color: rgb(228, 243, 255);
    
}

#en {
    display: none;
}

@keyframes glow-rotation {
    0%      { --gradient-angle: 0deg; }
    100%    { --gradient-angle: 360deg; }
}

